doctype html
html(lang='KO')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap')

    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')

    link(rel='icon' type='image/png' href='../favicon/favicon.ico')

    link(rel='stylesheet' href='../css/kiosk.css')

    title Kiosk
  body
    <!--키오스크 인트로페이지 영역-->
    img(class='intro_page')

    <!--키오스크 메인 박스 영역-->
    section(class='main_box')

      <!--키오스크 메뉴 선택 영역-->
      main(class='menu_choice')

        <!--키오스크 메뉴 헤더 영역-->
        header(class='menu_header')
          header(class='menu_header_log')

        <!--키오스크 메뉴 선택2 영역-->
        section(class='menu_choice2')

          <!--키오스크 메뉴 메뉴바 영역-->
          nav(class='menu_nav')
            ul()
              li(class='nav_famousmenu') 인기메뉴
              li(class='nav_coffee') 커피
              li(class='nav_drink') 음료
              li(class='nav_dessert') 디저트

          <!--키오스크 메뉴 리스트 영역-->
          main(class='menu_list')

            <!--키오스크 인기메뉴 영역-->
            section(class='menu_all_box')
              article(id='coffe_0')
                div(class='menu_img1') 
                p(class='menu_name') 아메리카노
                p(class='menu_price') 5,500원
              article(id='coffe_1')
                div(class='menu_img2')
                p(class='menu_name') 바닐라라떼
                p(class='menu_price') 5,800원
              article(id='coffe_2')
                div(class='menu_img3')
                p(class='menu_name') 카페라떼
                p(class='menu_price') 5,000원
              article(id='coffe_3')
                div(class='menu_img4')
                p(class='menu_name') 카페모카
                p(class='menu_price') 5,500원
              article(id='coffe_4')
                div(class='menu_img5')
                p(class='menu_name') 헤이오트라떼
                p(class='menu_price') 5,800원
              article(id='coffe_5')
                div(class='menu_img6')
                p(class='menu_name') 시그니처 크림라떼
                p(class='menu_price') 5,800원

            <!--키오스크 커피메뉴 아이스 영역-->
            section(class='menu_all_box2')

              <!--키오스크 커피메뉴 아이스 버튼 영역-->
              section(class='hot_ice_button_box')
                section(class='hot_ice_button')
                  p() ICE 

              article(id='coffe_0_0')
                div(class='menu_img7')
                p(class='menu_name') 아메리카노
                p(class='menu_price') 5,500원
              article(id='coffe_1_1')
                div(class='menu_img8')
                p(class='menu_name') 바닐라라떼
                p(class='menu_price') 5,800원
              article(id='coffe_2_2')
                div(class='menu_img9')
                p(class='menu_name') 카페라떼
                p(class='menu_price') 5,000원
              article(id='coffe_3_3')
                div(class='menu_img10')
                p(class='menu_name') 카페모카
                p(class='menu_price') 5,500원
              article(id='coffe_4_4')
                div(class='menu_img11')
                p(class='menu_name') 헤이오트라떼
                p(class='menu_price') 5,800원
              article(id='coffe_5_5')
                div(class='menu_img12')
                p(class='menu_name') 시그니처 크림라떼
                p(class='menu_price') 5,800원

            <!--키오스크 커피메뉴 핫 영역-->
            section(class='menu_all_box3')

              <!--키오스크 커피메뉴 핫 버튼 영역-->
              section(class='hot_ice_button_box2')
                section(class='hot_ice_button2')
                  p() HOT

              article(id='coffe_6')
                div(class='menu_img13')
                p(class='menu_name') 아메리카노
                p(class='menu_price') 4,500원
              article(id='coffe_7')
                div(class='menu_img14')
                p(class='menu_name') 카페모카
                p(class='menu_price') 5,500원
              article(id='coffe_8')
                div(class='menu_img15')
                p(class='menu_name') 카푸치노
                p(class='menu_price') 5,000원

            <!--키오스크 음료메뉴 영역-->
            section(class='menu_all_box4')
              article(id='coffe_9')
                div(class='menu_img16')
                p(class='menu_name') 자색 고구마 라떼
                p(class='menu_price') 5,500원
              article(id='coffe_10')
                div(class='menu_img17')
                p(class='menu_name') 흑임자 오트 라떼
                p(class='menu_price') 5,800원
              article(id='coffe_11')
                div(class='menu_img18')
                p(class='menu_name') 아이스 초코
                p(class='menu_price') 5,800원
              article(id='coffe_12')
                div(class='menu_img19')
                p(class='menu_name') 자몽 스파클링
                p(class='menu_price') 5,500원
              article(id='coffe_13')
                div(class='menu_img20')
                p(class='menu_name') 레몬 스파클링
                p(class='menu_price') 5,500원
              article(id='coffe_14')
                div(class='menu_img21')
                p(class='menu_name') 청포도 스파클링
                p(class='menu_price') 5,000원

            <!--키오스크 디저트메뉴 영역-->
            section(class='menu_all_box5')
              article(id='coffe_15')
                div(class='menu_img22')
                p(class='menu_name') 허니 브레드
                p(class='menu_price') 6,200원
              article(id='coffe_16')
                div(class='menu_img23')
                p(class='menu_name') 플레인 베이글
                p(class='menu_price') 3,900원
              article(id='coffe_17')
                div(class='menu_img24')
                p(class='menu_name') 에그 타르트
                p(class='menu_price') 1,500원
              article(id='coffe_18')
                div(class='menu_img25')
                p(class='menu_name') 오 마이 초코
                p(class='menu_price') 6,500원
              article(id='coffe_19')
                div(class='menu_img26')
                p(class='menu_name') 치즈 케이크
                p(class='menu_price') 5,500원
              article(id='coffe_20')
                div(class='menu_img27')
                p(class='menu_name') 더 진한 캐롯
                p(class='menu_price') 6,300원

            <!--키오스크 결제 버튼 모달창 영역-->
            section(class='model_box')
              section(class='model_font') 메뉴를 선택하세요.
              section(class='model_close_button') 닫기

          <!--키오스크 메뉴 장바구니 박스 영역-->
          section(class='shopping_cart')

            <!--키오스크 장바구니 아이콘 영역-->
            section(class='trash_button')
              i(class='xi-trash xi-5x')

            <!--키오스크 장바구니 주문리스트 박스 영역-->
            section(class='order_list') 

              <!--키오스크 장바구니 주문리스트 영역-->
              section(class='order_list_data' id='order_list_data')

            <!--장바구니 주문합계 영역-->
            section(class='sum_value') 
              section(class='sum_price') 

            <!--키오스크 장바구니 구매버튼 영역-->
            section(class='buy_button') 계산하기

    <!--키오스크 추가메뉴 리스트 박스 영역-->
    section(class='extra_order_list_box')
      section(class='extra_orders_list')

        <!--추가메뉴 선택 영역-->
        section(class='select_menu_box')

          <!--키오스크 추가메뉴 리스트 선택 아이콘 백 영역-->
          section(class='xi-arrow-left-button')
            i(class='xi-arrow-left xi-5x' id='xi-arrow-left6')

          <!--키오스크 추가메뉴 선택 이미지 박스 영역-->
          section(class='select_menu_img_box')
            <!--키오스크 추가메뉴 선택 이미지 영역-->
            section(class='select_menu_img')
            <!--추가메뉴 선택 메뉴명 영역-->
            p(class='select_menu_img_name') 

          <!--키오스크 추가메뉴 정보 박스 영역-->
          section(class='select_menu_info_box')
            section(class='select_menu_info_seolmyeong') 
              section(class='select_menu_info_seolmyeong_font')

            <!--키오스크 추가메뉴 선택 박스 영역-->
            section(class='select_menu_info_box2')
              section(class='menu_select_box')
                section(class='select_box') 선택
                section(class='store_box') 매장
                section(class='packaging_box') 포장
              section(class='menu_select_box2')
                section(class='select_box2') 얼음양
                section(class='generally_box') 보통
                section(class='aplenty_box') 많이
              section(class='menu_select_box3')
                section(class='select_box3') 샷추가
                section(class='shot_box2') 2샷
                section(class='shot_box3') 3샷

            <!--키오스크 추가메뉴 선택 hot 박스 영역2-->
            section(class='select_menu_info_box3')
              section(class='menu_select_box4')
                section(class='select_box4') 선택
                section(class='store_box2') 매장
                section(class='packaging_box2') 포장
              section(class='menu_select_box5')
                section(class='select_box5') 샷추가
                section(class='shot_box4') 2샷
                section(class='shot_box5') 3샷

            <!--키오스크 추가메뉴 선택 drink 박스 영역3-->
            section(class='select_menu_info_box4')
              section(class='menu_select_box6')
                seciont(class='select_box6') 선택
                section(class='store_box3') 매장
                section(class='packaging_box3') 포장
              section(class='menu_select_box7')
                section(class='select_box7') 선택
                section(class='hotice_box') HOT
                section(class='hotice_box2') ICE 

            <!--키오스크 추가메뉴 선택 dessert 박스 영역4-->
            section(class='select_menu_info_box5')
              section(class='menu_select_box8')
                section(class='select_box8') 선택
                section(class='store_box4') 매장
                section(class='packaging_box4') 포장

        <!--키오스크 추가메뉴 다음 박스 영역-->
        section(class='extra_order_next_box') 다음

    <!--키오스크 포인트 간단가입&사용하기&결제하기 박스 영역-->
    section(class='point_signup_pay_box')
      section(class='point_signup_pay')

        <!--키오스크 포인트 간단가입 박스 영역-->
        section(class='point_signup_box')

          <!--키오스크 포인트 간단가입 페이 아이콘 빽 영역-->
          section(class='xi-arrow-left_button')
            i(class='xi-arrow-left xi-5x' id='xi-arrow-left')

          <!--키오스크 포인트 간단가입 박스2 영역-->
          section(class='point_signup_box2')

            <!--키오스크 포인트 박스 영역-->
            section(class='point_signup_box3')  
              section(class='point_box')
                p(class='point_font') 포인트

              <!--키오스크 간단가입 박스 영역-->
              section(class='signup_box')
                p(class='signup_font') 간단가입

              <!--키오스크 사용하기 박스 영역-->
              section(class='use_box')
                p(class='use_font') 사용하기

        <!--결제하기 박스 영역-->
        section(class='pay_box')

          <!--키오스크 결제하기 박스2 영역-->
          section(class='pay_box2')

            <!--키오스크 결제하기 이미지 박스 영역-->
            section(class='pay_img_box')
              section(class='pay_img')
          
            <!--키오스크 결제하기 버튼 영역-->
            section(class='pay')
              p(class='pay_font') 결제하기

    <!--키오스크 포인트 간단가입 넘버 박스 영역-->
    section(class='point_signup_number_box')
      section(class='point_signup_number')
      
        <!--키오스크 포인트 넘버 폼 영역-->
        form(method='post' class='point_number_form')

          <!-키오스크 포인트 간단가입 넘버 인풋 박스 영역-->
          section(class='point_number_input_box')

            <!--키오스크 포인트 간단가입 넘버 아이콘 빽 영역-->
            section(class='xi-arrow-left_button')
              i(class='xi-arrow-left xi-5x' id='xi-arrow-left2')

            <!--키오스크 넘버 박스 영역-->
            section(class='point_number_input_box2')
              section(class='number_box')
                p(class='number_font') 휴대폰 번호 입력

              <!--키오스크 넘버 인풋 박스 영역-->
              section(class='number_input_box')
                input(type='text' name='join_num' id='join_num' class='number_input')

          <!--키오스크 키패드 박스 영역-->
          section(class='point_keypad_box')
            article 
              input(class='num1_box' type='text' value='1' placeholder)
              p() 1
            article 
              input(class='num1_box' type='text' value='2' placeholder)
              p() 2
            article 
              input(class='num1_box' type='text' value='3' placeholder)
              p() 3
            article 
              input(class='num1_box' type='text' value='4' placeholder)
              p() 4
            article 
              input(class='num1_box' type='text' value='5' placeholder)
              p() 5
            article 
              input(class='num1_box' type='text' value='6' placeholder)
              p() 6
            article 
              input(class='num1_box' type='text' value='7' placeholder)
              p() 7
            article 
              input(class='num1_box' type='text' value='8' placeholder)
              p() 8
            article 
              input(class='num1_box' type='text' value='9' placeholder)
              p() 9
            article  
              input(class='num1_box' type='' value='' placeholder)
              p() 전체
              p() 삭제
            article 
              input(class='num1_box' type='text' value='0' placeholder)
              p() 0
            article 
              input(class='num1_box' type='' value='' placeholder)
              p() 삭제
            article(class='confirm_button') 
              div() 확인

          input(class='num_box' type='submit' value='' id='join_submit' placeholder)

    <!--키오스크 포인트 조회하기 넘버 박스 영역-->
    section(class='point_inquire_number_box')
      seciont(class='point_inquire_number')

        <!--키오스크 넘보 조회하기 폼 영역-->
        form(method='post' class='point_inquire_form')

          <!--키오스크 넘버 조회하기 인풋 박스 영역-->
          section(class='point_inquire_number_input_box')

            <!--키오스크 포인트 조회하기 넘버 아이콘 빽 영빽-->
            section(class='xi-arrow-left_button')
              i(class='xi-arrow-left xi-5x' id='xi-arrow-left3')

            <!--키오스크 넘버 조회하기 박스 영역-->
            seciont(class='point_inquire_number_input_box2')
              section(class='number_inquire_box')
                p(class='number_inquire_font') 휴대폰 번호 입력

              <!--키오스크 넘버 조회하기 인풋 박스 영역-->
              section(class='number_inquire_input_box')
                input(type='text' name='join_num2' id='join_num2' class='number_input')
        
          <!--키오스크 키패드 박스 영역-->
          section(class='point_keypad_box2')
            article 
              input(class='num2_box' type='text' value='1' placeholder)
              p() 1
            article 
              input(class='num2_box' type='text' value='2' placeholder)
              p() 2
            article 
              input(class='num2_box' type='text' value='3' placeholder)
              p() 3
            article 
              input(class='num2_box' type='text' value='4' placeholder)
              p() 4
            article 
              input(class='num2_box' type='text' value='5' placeholder)
              p() 5
            article 
              input(class='num2_box' type='text' value='6' placeholder)
              p() 6
            article 
              input(class='num2_box' type='text' value='7' placeholder)
              p() 7
            article 
              input(class='num2_box' type='text' value='8' placeholder)
              p() 8
            article 
              input(class='num2_box' type='text' value='9' placeholder)
              p() 9
            article  
              input(class='num2_box' type='' value='' placeholder)
              p() 전체
              p() 삭제
            article 
              input(class='num2_box' type='text' value='0' placeholder)
              p() 0
            article 
              input(class='num2_box' type='' value='' placeholder)
              p() 삭제
            article(class='inquire_button') 
              div() 조회하기

          input(class='num_box' type='submit' value='' id='join_submit2' placeholder)
    
    <!--키오스크 잔여포인트 박스 영역-->
    section(class='point_remaining_box')
      section(class='point_remaining')
        
        <!--키오스크 넘버 잔여포인트 폼 영역-->
        form(method='post' class='point_remaining_form')

          <!--키오스크 넘버 잔여포인트 인풋 박스 영역-->
          section(class='point_remaining_number_input_box')

            <!--키오스크 포인트 잔여포인트 아이콘 빽 영빽-->
            section(class='xi-arrow-left_button')
              i(class='xi-arrow-left xi-5x' id='xi-arrow-left4')

            <!--키오스크 잔여포인트 조회하기 박스 영역-->
            section(class='point_remaining_number_input_box2')
              section(class='remaining_box')
                p(class='point_remaining_font') 잔여 포인트는
                p(class='point_remaining_font2') P

              <!--키오스크 잔여폰인트 인풋 박스 영역-->
              section(class='point_remaining_input_box')
                input(type='text' name='join_num3' id='join_num3' class='number_input' value='')

          <!--키오스크 키패드 박스 영역-->
          section(class='point_keypad_box3')
            article 
              input(class='num3_box' type='text' value='1' placeholder)
              p() 1
            article 
              input(class='num3_box' type='text' value='2' placeholder)
              p() 2
            article 
              input(class='num3_box' type='text' value='3' placeholder)
              p() 3
            article 
              input(class='num3_box' type='text' value='4' placeholder)
              p() 4
            article 
              input(class='num3_box' type='text' value='5' placeholder)
              p() 5
            article 
              input(class='num3_box' type='text' value='6' placeholder)
              p() 6
            article 
              input(class='num3_box' type='text' value='7' placeholder)
              p() 7
            article 
              input(class='num3_box' type='text' value='8' placeholder)
              p() 8
            article 
              input(class='num3_box' type='text' value='9' placeholder)
              p() 9
            article  
              input(class='num3_box' type='' value='' placeholder)
              p() 전체
              p() 삭제
            article 
              input(class='num3_box' type='text' value='0' placeholder)
              p() 0
            article 
              input(class='num3_box' type='' value='' placeholder)
              p() 삭제
            article(class='pointuse_button') 
              div() 사용하기

          input(class='num_box' type='submit' value='' id='join_submit3' placeholder)

    <!--키오스크 결제화면 박스 영역-->
    section(class='pay_screen_box')
      section(class='pay_screen')
      
        <!--키오스크 결제 박스 영역-->
        section(class='pay_box3')

          <!--키오스크 결제하기 아이콘 빽 영역-->
          section(class='xi-arrow-left_button')
            i(class='xi-arrow-left xi-5x' id='xi-arrow-left5')

          <!--키오스크 카드 박스 영역-->
          section(class='card_box')

            <!--키오스크 카드 슬롯 영역-->
            section(class='card_slot')

            <!--키오스크 카드 영역-->
            section(class='card')

            <!--키오스크 카드 폰트 영역-->
            section(class='card_font') 카드를 넣어주세요

        <!--키오스크 결제 리스트 박스 영역-->
        section(class='pay_list_box')

          <!--키오스크 결제 리스트 영역-->
          section(class='pay_list')
            section(class='pay_list_font')  
          
            <!--키오스크 결제 리스트 합계 영역-->
            section(class='pay_list_sum')  

          <!--키오스크 결제하기 영역-->
          section(class='pay2') 결제하기

    <!--키오스크 영수증 박스 영역-->
    section(class='receipt_box')
      section(class='receipt')

        <!--키오스크 영수증 리스트 박스 영역-->
        section(class='receipt_list_box')
          section(class='receipt_list_number_box')
            section(class='receipt_list_number') 대기번호 :
            section(class='receipt_list_number2')
          section(class='receipt_list_price') 
          section(class='receipt_list_menuname') 
        
          <!--키오스크 영수증 리스트 버튼 박스 영역-->
          section(class='receipt_list_button_box')
            section(class='receipt_list_button') 출력
            section(class='receipt_list_button2') 포인트 적립

        <!--키오스크 영수증 리스트 닫기 버튼 박스 영역-->
        section(class='receipt_close_button_box') 닫기

    <!--키오스트 포인트 적립 박스 영역-->
    section(class='point_save_box')
      section(class='point_save')

        <!--키오스크 포인트 적립 폼 영역-->
        form(method='post' class='point_save_form')

          <!--키오스크 포인트 적립 인풋 박스 영역-->
          section(class='point_save_number_input_box')

            <!--키오스크 포인트 적립 박스 영역-->
            section(class='point_save_number_input_box2')
              section(class='save_box')
                p(class='point_save_font') 휴대폰 번호 입력

              <!--키오스크 포인트 적립 인풋 박스 영역-->
              section(class='point_save_input_box')
                input(type='text' name='join_num4' id='join_num4' class='number_input' value='')

          <!--키오스크 포인트 적립 키패드 박스 영역-->
          section(class='point_keypad_box4')
            article 
              input(class='num4_box' type='text' value='1' placeholder)
              p() 1
            article 
              input(class='num4_box' type='text' value='2' placeholder)
              p() 2
            article 
              input(class='num4_box' type='text' value='3' placeholder)
              p() 3
            article 
              input(class='num4_box' type='text' value='4' placeholder)
              p() 4
            article 
              input(class='num4_box' type='text' value='5' placeholder)
              p() 5
            article 
              input(class='num4_box' type='text' value='6' placeholder)
              p() 6
            article 
              input(class='num4_box' type='text' value='7' placeholder)
              p() 7
            article 
              input(class='num4_box' type='text' value='8' placeholder)
              p() 8
            article 
              input(class='num4_box' type='text' value='9' placeholder)
              p() 9
            article  
              input(class='num4_box' type='' value='' placeholder)
              p() 전체
              p() 삭제
            article 
              input(class='num4_box' type='text' value='0' placeholder)
              p() 0
            article 
              input(class='num4_box' type='' value='' placeholder)
              p() 삭제
            article(class='pointsave_button') 
              div() 적립하기

          input(class='num_box' type='submit' value='' id='join_submit4' placeholder)

    <!--키오스크 포인트 적립완료 박스 영역-->
    section(class='point_save_complete_box')
      section(class='point_save_complete')

        <!--키오스크 포인트 적립완료 영역-->
        section(class='save_complete_box')

          <!--키오스크 포인트 적립 이미지 박스 영역-->
          section(class='save_img_box')
            section(class='save_img')

          <!--키오스크 포인트 적립 폰트 영역-->
          section(class='save_font_box')
            section(class='save_font') 
            section(class='save_font2') 적립완료

        <!--키오스크 포인트 적립 메인화면 버튼 영역-->
        sectino(class='save_main_button') 메인화면
  
    <!--Footer 푸터 영역-->
    footer
      p(class='footer_font') Copyright(C) 2022. Hjuk. All right reserved. 본 사이트는 비상업적인 용도로 제작된 포트폴리오 사이트입니다

    script(src='../nodejs/kioskmenu.json' type='text/javascript')
    script(src='../nodejs/kioskpoint.json' type='text/javascript')
    script(src='../script/kiosk.js')
    