doctype html
html(lang='KO')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap' rel='stylesheet')

    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')

    link(rel='icon' type='image/png' href='../../public/favicon/favicon.ico')

    link(rel='stylesheet' href='../css/matrixcalculator.css?v=2')

    title Matrix Calculator
body 
  section(class='mc_main_box')
    section(class='mc_mini_box')
      section(class='mc_header_box')
        header(class='mc_header_font') Matrix Calculator

    section(class='mc_array_box')
      section(class='mc_input_array_box')
        section(class='inputArray')
          input(id='xinputArray' class='xinputArray' type='number' title='xinputArray' min='1' max='9' value='' placeholder='행')
          input(id='yinputArray' class='yinputArray' type='number' title='yinputArray' min='1' max='9' value='' placeholder='열')
      
        section(class='inputArray2')
          input(id='xinputArray2' class='xinputArray2' type='number' title='xinputArray2' min='1' max='9' value='' placeholder='행')
          input(id='yinputArray2' class='yinputArray2' type='number' title='yinputArray2' min='1' max='9' value='' placeholder='열')

        section(class='inputArray3')
          button(id='button_box_plus' class='button_box_plus') +
          button(id='button_box_minus' class='button_box_minus') -
          button(id='button_box_multi' class='button_box_multi') ×
          input(id='button_box_random' class='button_box_random' type='button' title='button_box_random' value='자동완성')
          input(id='button_box_print' class='button_box_print' type='button' title='button_box_print' value='직접입력')
          input(id='button_box_reset' class='button_box_reset' type='button' title='button_box_reset' value='리셋')

      section(class='mc_print_array_box')
        section(class='printArray') 
          section(id='xprint_Array' class='xprint_Array') 

        section(class='printArray2') 
          section(id='yprint_Array' class='yprint_Array') 

        section(class='printArray3') 
            section(id='print_Array' class='print_Array') 

    section(id='alert_event_box' class='alert_event_box') 
      p(id='alert_box' class='alert_box') 

    div(class='copyright')
      div(class='container')
        small Copyright(C) 2022. Hjuk. All right reserved. 본 사이트는 비상업적인 용도로 제작된 포트폴리오 사이트입니다

    script(src='../../src/script/matrixcalculator.js') 
 